.gb-body {
    -fx-background-image: url("../../../../../img/pocket_imperium_galaxy.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;
}

.gb-vbox {
    -fx-padding: 20;
}

.gb-container {
    -fx-background-color: linear-gradient(to bottom, #072B4A 0%, #03121F 20%, #03121F 80%, #072B4A 100%);
    -fx-padding: 20;
    -fx-border-width: 3;
    -fx-border-radius: 6;
    -fx-border-color: #48ABFE;
    -fx-background-radius: 7;
}

.gb-title {
    -fx-fill: white;
    -fx-font-family: "a Atmospheric";
    -fx-font-size: 16;
}

.gb-subtitle {
    -fx-fill: white;
    -fx-font-family: "a Atmospheric";
    -fx-font-size: 14;
}

.gip-round-text, .gip-phase-text {
    -fx-font-family: "a Atmospheric";
    -fx-font-size: 14;
}

.gip-round-text {
    -fx-fill: #FFE490;
}

.gip-phase-text {
    -fx-fill: #7BE0F4;
}

.spp-text {
    -fx-font-family: "Poppins";
    -fx-font-size: 12;
    -fx-fill: white;
}

.spp-number {
    -fx-font-family: "a Atmospheric";
    -fx-font-size: 12;
    -fx-fill: white;
}

.root-layout {
    -fx-translate-x: -175;
}

.pm-item {
    -fx-background-color: linear-gradient(to bottom, #03121F, #0D3B66);
    -fx-border-radius: 10;
    -fx-background-radius: 11;
    -fx-border-color: #48ABFE;
    -fx-border-width: 3;
}

.pm-item:hover {
    -fx-cursor: hand;
}

.pause-menu {
    -fx-background-color: linear-gradient(to bottom, #072B4A 0%, #03121F 20%, #03121F 80%, #072B4A 100%);
    -fx-padding: 20;
    -fx-border-width: 3;
    -fx-border-radius: 6;
    -fx-border-color: #48ABFE;
    -fx-background-radius: 7;
}

.pause-menu--title {
    -fx-fill: #7BE0F4;
    -fx-font-size: 26;
    -fx-font-family: "a Atmospheric";
}

.pause-menu--button {
    -fx-font-family: "a Atmospheric";
    -fx-font-size: 15;
    -fx-padding: 15 0 15 0;
    -fx-pref-width: 200;
    -fx-min-width: 200;
    -fx-border-radius: 10;
    -fx-background-radius: 11;
    -fx-border-width: 2;
    -fx-cursor: hand;
    -fx-text-fill: #7BE0F4;
    -fx-border-color: #7BE0F4;
    -fx-background-color: linear-gradient(to bottom, #03121F, #0D3B66);
}

.pause-menu--button:hover {
    -fx-text-fill: #00DBB0;
    -fx-border-color: #00DBB0;
    -fx-background-color: linear-gradient(to bottom, #03251E, #007F66);
}